<div class="col-md-4 col-md-offset-4">
    <form class="form-signin" action="javascript:newRFIDExec();" style="background:#fff;padding:15px;padding-top:5px;border-radius: 7px;">
        <h2 class="form-signin-heading">Create New RFID Reader</h2>
        <%=lat%>, <%=lng%>
    </form>
</div>