<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><%= plugin.title %></div>
        <div class="panel-body">
            <%= plugin.content %>
        </div>
    </div>
</div>