<div class="col-md-6 col-md-offset-3 edit-box">
    <form class="form-signin panel panel-default" action="javascript:;" style="background:#fff;padding:15px;padding-top:5px;border-radius: 7px;">
        <h2 class="form-signin-heading">Adding Tags</h2>
        <br/>
        <div class="row">
            <div class="col-md-4" style="text-align:right;">Buttons</div>
            <div class="col-md-8" id="ffe">
                <button onclick="generateKey();" value="">Generate Identifier</button>
                <button onclick="saveSecret();" value="">Save Secret</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4" style="text-align:right;"><label for="inputReference" style="padding-top:12px;">Reference (tagString)</label></div>
            <div class="col-md-8"><input type="text" value="" class="form-control inputReference" id="inputReference"/></div>
        </div>
        <div class="row">
            <div class="col-md-4" style="text-align:right;"><label for="inputSecret" style="padding-top:12px;">Secret (should be generated)</label></div>
            <div class="col-md-8"><input type="text" value="" class="form-control inputSecret" id="inputSecret"/></div>
        </div>
    </form>
</div>